/* .paragrafoParaSubir{
position: absolute;
color: blanchedalmond;
font-size: 19px;

}


.subirTexto{
transition: 15.0s;
bottom: 50px;
bottom: 40px;
bottom: 30px;
bottom: 20px;
position: absolute;

color: red;
} */